body {
    margin: 0;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
      Helvetica, Arial, sans-serif, system-ui;
    display: flex;
    flex-direction: column; /* 縦に要素を並べる */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    height: 100vh; /* 画面全体の高さを占める */
  }

  .button {
    background-color: #DDDDDD;
    border:  none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50px;
    
  }
  .back-button {
    border-radius: 50px;
    position: absolute; /* 絶対位置に配置 */
    bottom: 15px; /* 画面の下から20pxの位置 */
    padding: 10px 20px;
    background-color: #ddd;
    color: #000;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 0px;
    font-weight: bold;
  }
  .container {
    display: flex;
    align-items: center; /* 縦方向（上下）中央揃え */
    justify-content: center; /* 横方向の中央揃え */
    flex-direction: column; /* 縦に要素を並べる */
  }

  h1 {
    font-size: 50px;
    margin-bottom: 0;
  }
  
  p {
    font-size: 20px;
    margin-top: 10px;
    color: #666;
  }


  @media screen and (max-width: 480px) {
    h1 {
      font-size: 35px;
    }
  }