body {
    margin: 0;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
      Helvetica, Arial, sans-serif, system-ui;
    display: flex;
    flex-direction: column; /* 縦に要素を並べる */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    height: 100vh; /* 画面全体の高さを占める */
  }
  
  .back-button {
    margin-bottom: 20px; /* コンテナとの間にスペースを作る */
  }
  
  .container {
    display: flex;
    align-items: center; /* 縦方向（上下）中央揃え */
    justify-content: center; /* 横方向の中央揃え */
  }
  
  .left-image {
    width: 700px;
    height: auto;
    margin-right: 20px;
  }
  
  .right-text {
    max-width: 600px;
  }
  
  .right-text h1 {
    margin-bottom: 10px;
  }
  
  .right-text p {
    margin-bottom: 10px;
    line-height: 1.6;
    font-weight: bold;
  }
  
  .back-button {
    width: 10%;
    border-radius: 50px;
    position: absolute; /* 絶対位置に配置 */
    bottom: 15px; /* 画面の下から20pxの位置 */
    padding: 10px 20px;
    background-color: #ddd;
    color: #000;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 0px;
    font-weight: bold;
  }
  
  
  .button {
    background-color: #DDDDDD;
    border:  none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50px;
    
  }
  
  .button a {
    text-decoration: none; /* 下線を削除 */
    color: #000;
  }

  .right-text a {
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column; /* 縦に要素を並べる */
    }
    
    .left-image {
      width: 100%; /* スマホでは画像を全幅に */
      height: auto;
      margin-right: 0; /* 余白をなくす */
      margin-bottom: 20px; /* 画像の下に余白を追加 */
    }
    
    .right-text {
      max-width: 80%; /* テキストを少し狭める */
      text-align: left; /* テキストを中央揃え */
    }
  
    .back-button {
      width: 80%; /* ボタン幅を広くする */
      bottom: 20px; /* 余白を調整 */
    }
  }
  